.carousel {
  background-size: cover;
}

.carousel-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1260px;
  padding: 0 2em;
  margin: 0 auto;
}

.carousel-content {
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding: 2em 0 5em 1em;
}

.carousel-content-main {
  margin: 0 1em 0 0;
}

.carousel-content-side iframe{
  width: 24em;
  height: 14em;
  border-radius: 0.5em;
}


@media screen and (max-width: 768px) {

  .carousel-content {
    padding: 1em 0 2em 0;
    flex-wrap: wrap;
  }

  .carousel-content-main {
    width: 100%;
    flex: none;
  }

  .carousel-content-side {
    width: 100%;
    flex: none;
  }

  .carousel-content-side iframe{
    width: 100%;
  }  
}