.headbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

.headbar-left {
  display: flex;
  align-items: center;
}

.headbar-left > div {
  height: 4em;
  display: flex;
  align-items: center;
}

.location-weather {
  display: flex;
  align-items: center;
  color: #FBFCFC;
}

.temp {
  margin: 0 0.5em;
}

.weather-img {
  width: 3em;
  height: 3em;
  background-size: cover;
}

.logo {
  width: 2em;
  height: 2em;
  background-image: url('/logo.svg');
  background-size: cover;
}

.logo-name {
  color: #FBFCFC;
  margin: 0 1em 0 0.5em;
  font-family: "Helvetica Neue", Helvetica, Arial;
}

.headbar-left .view-on-github-btn {
  display: none;
}


@media screen and (max-width: 768px) {
  .headbar {
    align-items: center;
    margin-top: 0.5em;
  }

  .headbar-left {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  .headbar-left > div {
    height: 3em;
  }

  .headbar-left .view-on-github-btn {
    display: block;
  }  

  .headbar-right {
    display: none;
  }

  .location-weather {
    width: 100%;
  }
}


@media screen and (max-width: 456px) {
  .headbar {
    font-size: 0.8em;
  }

  .view-on-github-btn {
    font-size: 0.8em;
  }
}
